.clearfix::after { 
    content: '';
    display: block; 
    clear: both;
}

.header {
    width: 400px;
    height: 100px; 
    background-color: #141f40;
    margin: 0;
}

/* .main {
    width: 400px;
    height: 100px; 
}*/

.left {
    width: 150px;
    height: 250px; 
    background-color: #80bfa8;
    margin: 0;
    float: left; 
}

.right {
    width: 250px;
    height: 250px; 
    background-color: #8c2727;
    margin: 0;
    float: left;
}

.footer {
    width: 400px;
    height: 100px; 
    background-color: #d98d30;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
}