<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link th:href="@{/css/style.css}" rel="stylesheet" />
<link th:href="@{/css/layout.css}" rel="stylesheet" />
<title>マイページ変更完了画面</title>
</head>
<body>
	<!-- ヘッダー -->
	
	<header th:include="layout/header :: head">
	<th:block th:text="${loginForm.empId}"></th:block>
		
	</header>
	
	<!-- サイドバー -->
	<aside th:include="layout/aside :: side"></aside>
	<!-- メイン -->
	<article class="mypage">
		<h3 class="page_title">マイページ変更完了画面</h3>
		
	<form th:action="@{/edit_fin}" th:object="${mypage}" method="post" >

                
                <button>戻る</button>
            </form>     
   
    </article>
	<!-- フッダー -->
	<footer th:include="layout/footer :: foot"></footer>

</body>
</html>
